.wrap
{
	
}
.container
{
	height: 100%;
}
.header
{
	background:#333;
	margin:auto;
	width:50%;
	padding: 0 20px 20px 20px;
}
#headerName
{
	color:blue;
	padding: 20px;
	text-shadow:0px 2px 3px #fff;
	text-align:center;
	font-size:350%;
font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}
.content
{
	background:#333;
	margin:auto;
	width:50%;
	padding: 0 20px 20px 20px;
	bottom:0;
font-family: Century Gothic, sans-serif;
	color:white;
}
.footer
{
	margin:auto;
	color: #272900;
	text-align: right;
	font-size: 90%;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#333333', endColorstr='#ffffff');
	background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#333));
	background: -moz-linear-gradient(top,  #fff,  #333);
	position:fixed;
	width:60%;
	bottom:0;
	left:40%;
	margin-left: -20%;
}
html
{
	height: 100%;
}
body
{
	
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#333333', endColorstr='#ffffff');
	background: -webkit-gradient(linear, left top, left bottom, from(#ffa), to(#fff));
	background: -moz-linear-gradient(top,  #ffa,  #fff);
	background-attachment:fixed;
	
	height: 100%;
}
h1
{
font-size:100%
	color:white;
	text-align:center;
font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	text-shadow:0px 1px 3px #ffa;

	
}
p
{
	font-family:"Times New Roman";
	font-size:20px;
}
ul
{
	list-style-type:none;
	margin:0;
	padding:0;
	overflow:hidden;
}
li
{
	
} 
.menuNav a:link,.menuNav a:visited
{
	width:120px;
	/*font-weight:bold;*/
	color:#FFFFFF;
	background-color:blue;
	text-align:center;
	padding:4px;
	text-decoration:none;
	text-transform:uppercase;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;

}	
.menuNav a:hover,.menuNav a:active
{
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='blue', endColorstr='gold'); /* for IE */
	background: -webkit-gradient(linear, left top, left bottom, from(blue), to(#ff6)); /* for webkit browsers */
	background: -moz-linear-gradient(top,  blue,  #ff6); /* for firefox 3.6+ */}
.center
{
	text-align:center;
}
.center-image
{
	padding:40px;
	text-align:center;
}
.javaCode
{
	color:#ffb;
	text-align:left;
	margin-left:5%;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;

}
.tutorialTitle
{
	text-align:left;
	color:#ffa;

	text-decoration:none;

}
.tutorialTitle a:link, .tutorialTitle a:visited
{
	text-decoration:none;
	font-size:150%;
	text-align:left;
	color:#ffa;

}
.tutorialTitle a:hover, .tutorialTitle a:active
{
	text-decoration:none;
	font-size:150%;
	text-align:left;
	text-shadow:0px 2px 3px cyan;

}
.tutorialTitleBottom
{
	text-align:right;
	color:#ffa;
	text-decoration:none;

}
.tutorialTitleBottom a:link, .tutorialTitleBottom a:visited
{
	text-decoration:none;
	font-size:150%;
	color:#ffa;

}
.tutorialTitleBottom a:hover, .tutorialTitleBottom a:active
{
	text-decoration:none;
	font-size:150%;
	text-shadow:0px 2px 3px cyan;

}